.productPathContainer{
    border-bottom: solid 1px #666;
    
    .productPath{
        font-weight: bold;
        padding: 30px 35px;
        margin: 0 auto;
        width: clamp(500px, 100% - 100px, 1300px);        

        a{
            color: #000;
        }
    }
}